html,
body {

    font-family: "Commissioner", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
    color: var(--text-icons-base);
    letter-spacing: normal;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    height: -webkit-fill-available;
    -moz-scrollbar-color: var(--black) #fff;
    -moz-scrollbar-width: thin;
    scrollbar-gutter: stable;
    background-color: var(--bg-base);


    @media screen and (min-width: $w1510) {
        font-size: 16px;
    }

    @include scrollbar();

}

html * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;

    & * {
        @include scrollbar();
    }

}




button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

body.page-hidden {
    touch-action: none;
    overflow: hidden !important;
    overscroll-behavior-y: none;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #111;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}


div.hidden {
    display: none;
}

.hide {
    display: none;
}

section {
    overflow: hidden;
    position: relative;
}

main {
    width: 100%;
    min-height: 70vh;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #fff;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    background-color: transparent;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 95%;
    cursor: pointer;
}

input[type="date"] {
    position: relative;
}

.dragscroll.dragging {
    pointer-events: none;
}



@mixin container-breakpoint {
    padding: 0 16px;
    min-width: 316px;

    @media screen and (min-width: $w480) {
        padding: 0 24px;
        max-width: 100%;
    }

    @media screen and (min-width: $w576) {
        padding: 0 24px;
        max-width: 100%;
    }

    @media screen and (min-width: $w760) {
        padding: 0 45px;
        max-width: 100%;
    }

    @media screen and (min-width: $w992) {
        padding: 0 45px;
        max-width: 100%;
    }

    @media screen and (min-width: $w1200) {
        padding: 0 10px;
        max-width: 100%;
    }

    @media screen and (min-width: $w1440) {
        padding: 0 10px;

    }
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @include container-breakpoint;
}






/* =========================================== */
/* =========================================== */





.lazyload {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.overflow--hidden {
    overflow: hidden !important;
}

.overflow--hidden-fixed {
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overflow--hidden-scrollBar {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.safari-fixed {
    height: calc(100vh - 1px);
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.table-responsive {
    overflow-x: auto;

    & table {
        min-width: auto;
    }
}

.lazyload {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.sortable-ghost ~ div:last-child {
    display: none
  }