:root {
	--bg-base: #1f1f1f;
	--bg-contrast: #292929;
	--bg-special: #333;
	--text-icons-base: #e0e0e0;
	--text-icons-secondary-big: #ccc;
	--text-icons-secondary-small: #a3a3a3;
	--text-icons-special-1: #fff;
	--text-icons-special-2: #000;
	--borders-lines: #525252;
	--overlay-1: #0003;
	--alert-red: #e01b1b;
	--task-text-red: #e05151;
	--task-text-green: #1fad70;
	--task-text-orange: #e08f24;
	--task-text-yellow: #ffed7a;
	--task-text-blue: #2f87eb;
	--task-text-violet: #916acc;
}