:root {
	--bg-base: #f7f7f7;
	--bg-contrast: #fff;
	--bg-special: #f0f0f0;
	--text-icons-base: #000;
	--text-icons-secondary-big: #c2c2c2;
	--text-icons-secondary-small: #8f8f8f;
	--text-icons-special-1: #fff;
	--text-icons-special-2: #000;
	--borders-lines: #e0e0e0;
	--overlay-1: #0000004d;
	--alert-red: #e01b1b;
	--task-text-red: #e05151;
	--task-text-green: #1fad70;
	--task-text-orange: #e08f24;
	--task-text-yellow: #ffed7a;
	--task-text-blue: #2f87eb;
	--task-text-violet: #916acc;
}