.wk-day {
    background-color: var(--bg-contrast);
    padding: 16px;
    border-radius: 12px;

    &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    &__tasks {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__date {
        font-weight: 600;
        color: var(--text-icons-base);

        @include text-style-desktop-h-2
    }

    &__weekday {
        color: var(--text-icons-secondary-big);
    }

    &__task {
        &.is-status-closed {
            text-decoration: line-through;

            & .wk-day-task {
                &__checkbox {
                    opacity: 1;
                    filter: grayscale(1);
                }
            }
        }
    }

}

.wk-create-task {
    display: flex;
    align-items: center;
    background-color: var(--bg-base);
    padding: 6px 12px;
    border-radius: 8px;
    min-height: 36px;
     

    &__icon{
        margin-left: auto;
        opacity: 0;

        & svg {
            width: 16px;
            height: 16px;
            fill: var(--accent-1);
        }
    }

    &__input{
        @include text-style-base-text-bold;
        color: var(--accent-1);
        cursor: pointer;
        opacity: 0;
    }

}

.wk-day-task {
    display: flex;
    align-items: center;
    background-color: var(--bg-base);
    padding: 6px 12px;
    border-radius: 8px;
    min-height: 36px;

    &__checkbox {
        margin-left: auto;
        display: flex;
        align-items: center;
        opacity: 0;

    }

    &__title {
        margin-right: 12px;
        width: calc(100% - 40px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: grab;
    }

    & .checkbox {
        &__elem {
            margin-right: 0;
        }
    }

    &:hover {
        & .wk-day-task {
            &__checkbox {
                opacity: 1;
            }
        }
    }
}