.auth-popup {
    &__logo {

        display: flex;
        justify-content: center;
        padding-bottom: 8px;

        & .bgimage {
            width: 115px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 38px;
        }
    }

    &__title {
        @include font-h1;
        text-align: center;
        padding-bottom: 18px;

        @media screen and (min-width: $w576) {
            padding-bottom: 30px;
        }
    }

    &__desc {
        font-size: 14px;
        line-height: 155%;
        text-align: center;
        padding-bottom: 32px;

        @media screen and (min-width: $w576) {
            font-size: 18px;
        }
    }

    &__btn {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media screen and (min-width: $w480) {
            flex-direction: row;
        }

        & .btn {
            width: 100%;
        }
    }

}