@import './theme/default.scss';
@import './theme/Dark.scss';

@import './color/green.scss';


$main: #26487B;
/* media breakpoints */
$w1660: 1660px;
$w1510: 1510.98px;
$w1440: 1440.98px;
$w1376: 1376px;
$w1200: 1200px;
$w1100: 1100px;
$w1024: 1025px;
$w992: 992.98px;
$w760: 767px;
$w680: 679px;
$w576: 576px;
$w480: 480px;
$w375: 375.98px;
$w360: 360.98px;