@mixin header-icon-style {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
    transition: 0.3s linear;

    & svg {
        width: 100%;
        height: 100%;
        fill: var(--text-icons-base);
        transition: 0.2s linear;
    }

    &:hover {
        background-color: var(--accent-1);

        & svg {
            fill: #fff;
        }
    }
}

.header-workspace {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    flex-wrap: wrap;

    &__nav {
        width: 100%;
        padding-bottom: 24px;

        @media screen and (min-width: $w576) {
            width: auto;
            padding-bottom: 0;
        }
    }

    &__action {

        width: 100%;

        @media screen and (min-width: $w576) {
            width: auto;
        }

        & ul {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: space-between;

            @media screen and (min-width: $w480) {
                justify-content: flex-end;
            }

            & li {
                @include header-icon-style();
            }
        }
    }
}

.hw-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;

    &__current {
        @include font-h1();
        margin-right: 12px;



        &:hover {
            color: var(--accent-1);
            cursor: pointer;
        }
    }

    &__next,
    &__prev {
        @include header-icon-style();
    }
}

.hw-week-number {
    @include text-style-base-text-reg();
    color: var(--text-icons-secondary-small);

    @media screen and (max-width: $w576) {
        font-size: 14px;
        line-height: 100%;
    }
}